html,body {
	font-size: 16px;
	line-height: 1em;
}

.fixtureDetailsDialogue {
	line-height: 2em;
	z-index: 100;
}

table {
	border-spacing: 0px;
	width: 100%;
}

a, u {
	text-decoration: none;
}

#header {
	line-height: 3em;
}

.largeScreenBanner {
	background-image: url(../img/bannerImage.jpg);
    background-position: -50px -100px;	
    background-repeat:no-repeat;
}

@media screen and (max-width:600px) {
	html,body {
		font-size: 130%;
	}
	
	.largeScreenBanner {
		background-image: inherit;
	}
	
	div#header {
	    background-color: #009688 ! important;
	    line-height: 1.5em;
	}
	
	span.burger {
		padding-left: 10px;
	}
	
	table th.rd-mobile-div-hidden-cols, table td.rd-mobile-div-hidden-cols {
		display: none;
	}
	
	table#leagueTable, table#leagueTable td {
		font-size: 75%;
		width=100%;
	}
	
	table#playerReportTable, table#playerReportTable td {
		font-size: 65%;
		width=100%;
		table-layout: fixed;
		word-wrap: break-word;
	}
	
	table#matchcard {
		font-size: 65%;
	}
	
	table#leagueTable th {
		font-size: 55%;
		width=100%;
	}
	
	table#playerReportTable th {
		font-size: 55%;
		width=100%;
	}
	
	td a.rd-division-link-to-matches {
		text-decoration: none;
		font-weight: bold;
		font-size: 110%;
		line-height: 2.5em;
	}
	
	.siteTitle {
		font-size: 60%;
		margin-left: 10px
	}
	
	.rd-nav-close {
		font-size: 65%;
	}
	
	.rd-division-card-footer {
		line-height: 1em;
		padding: 6px 0 2px 0;
	}
}

