html,body {
	font-size: 16px;
	line-height: 1.2em;
}

.fixtureDetailsDialogue {
	line-height: 2em;
	z-index: 100;
}

table {
	border-spacing: 0px;
	width: 100%;
}

a, u {
	text-decoration: none;
}

#header {
	line-height: 2em;
}

.button {
	font-size: 15px;
}

.largeScreenBanner {
	background-image: url(../img/bannerImage.jpg);
    background-position: -50px -100px;	
    background-repeat:no-repeat;
    background-color: #000724;
}

@media screen and (max-width:600px) {
	html,body {
		font-size: 120%;
	}
	
	.largeScreenBanner {
		background-image: inherit;
	}
	
	div#header {
	    background-color: #009688 ! important;
	}
	
	span.burger {
		padding-left: 10px;
	}
	
	table th.rd-mobile-div-hidden-cols, table td.rd-mobile-div-hidden-cols {
		display: none;
	}
	
	table#leagueTable, table#leagueTable td {
		font-size: 65%;
		width: 100%;
	}
	
	table#playerReportTable, table#playerReportTable td {
		font-size: 65%;
		width: 100%;
		word-wrap: break-word;
	}
	
	table#matchcard {
		font-size: 65%;
	}
	
	table#leagueTable th {
		font-size: 55%;
		width: 100%;
	}
	
	table#playerReportTable th {
		font-size: 55%;
		width: 100%;
	}
	
	td a.rd-division-link-to-matches {
		text-decoration: none;
		font-weight: bold;
		font-size: 110%;
		line-height: 2.5em;
	}
	
	.siteTitle {
		font-size: 60%;
		margin-left: 10px
	}
	
	.rd-nav-close {
		font-size: 65%;
	}
	
	.rd-division-card-footer {
		line-height: 1em;
		padding: 6px 0 2px 0;
	}
}

i.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.arrowright {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.arrowleft {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.arrowup {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.arrowdown {
    transform: rotate(45deg) translate(0px, -5px);
    -webkit-transform: rotate(45deg) translate(0px, -5px);
}