html,body {
	font-size: 16px;
}

@media screen and (max-width:600px) {
	html,body {
		font-size: 130%;
	}
	
	table th.rd-mobile-div-hidden-cols, table td.rd-mobile-div-hidden-cols {
		display: none;
	}
	
	table#leagueTable, table#leagueTable td {
		font-size: 75%;
		width=100%;
	}
	
	table#matchcard {
		font-size: 65%;
	}
	
	table#leagueTable th {
		font-size: 55%;
		width=100%;
	}
	
	td a.rd-division-link-to-matches {
		text-decoration: none;
		font-weight: bold;
		font-size: 110%;
		line-height: 2.5em;
	}
	
	.siteTitle {
		font-size: 60%;
	}
	
	.rd-nav-close {
		font-size: 65%;
	}
	
	.rd-division-card-footer {
		line-height: 1em;
		padding: 6px 0 2px 0;
}

