#filterInfo {
    position: absolute;
	background: deepskyblue;
	color: #fff;
	right: 0;
}

.filter-writing {
	font-size: 0.5em;
	margin-top: 0.6em;
	float: right;
	padding: 0 10px 0 10px;
}

.slide-in-from-right {
    animation: slide-in-from-right 2s forwards;
    -webkit-animation: slide-in-from-right 2s forwards;
}

.slide-out-from-right {
    animation: slide-out-from-right 2s forwards;
    -webkit-animation: slide-out-from-right 2s forwards;
}
    
@keyframes slide-in-from-right {
	0% { transform: translateX(100%); }
    100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-in-from-right {
	0% { -webkit-transform: translateX(100%); }
    100% { -webkit-transform: translateX(0%); }
}
    
@keyframes slide-out-from-right {
    0% { transform: translateX(0%); }
    100% { transform: translateX(100%); }
}

@-webkit-keyframes slide-out-from-right {
    0% { -webkit-transform: translateX(0%); }
    100% { -webkit-transform: translateX(100%); }
}