.rd-row {
	clear: left;
}

.rd-col {
	float: left;
}

#matchcard th {
	text-align: center;
	vertical-align: middle;
}

#matchcard td.table-data {
	text-align: center;
	vertical-align: middle;
}

h1.rd-match-declaration {
	font-family: 'Titillium Web', sans-serif;
}

