.niceDateContainer {
	clear: left;
}

.nd-common {
	margin-left: 35px;
    padding-left: 5px;
}

.nd-yesterday {
    
}

.nd-2da {
	
}

.nd-Nda {
	
}

.nd-old {
	
}

.nd-today {
	background-color: #de2828;
	color: aliceblue;
}

.nd-tomorrow {
	background-color: #ff8b46;
	color: midnightblue;
}

.nd-2d {
	color: darkgray;
    font-style: italic;
    font-size: 65%;
    border-width: thin;
    border-style: dotted;
    border-right-style: hidden;
}

.nd-Nd {
	color: darkgray;
    font-style: italic;
    font-size: 65%;
    border-width: thin;
    border-style: dotted;
    border-right-style: hidden;
}

.nd-future {
	color: darkgray;
    font-style: italic;
    font-size: 65%;
    border-width: thin;
    border-style: dotted;
    border-right-style: hidden;
}