<!DOCTYPE html>
<html ng-app="app">
<head>
	<title>Catholicon - better BDBL</title>
	
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-resource.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-cookies.js"></script>
	<script src="../script/catholicon-common.js"></script>
	<script src="../script/dataController.js"></script>
	<script src="../script/niceDate.js"></script>
	<script src="../script/matchCard.js"></script>
	<script src="../script/frontPageController.js"></script>
	<script src="../script/matchListController.js"></script>
	<script src="../script/fixtureDetailsDirective.js"></script>
	<script src="../script/secure.js"></script>
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link href="//fonts.googleapis.com/css?family=Titillium+Web|Open+Sans+Condensed:300|Open+Sans+Condensed:300" rel="stylesheet">
	
	<link rel="stylesheet" href="../style/w3.css">
	<link rel="stylesheet" type="text/css" href="../style/common.css">
	<link rel="stylesheet" type="text/css" href="../style/match.css">
	<link rel="stylesheet" type="text/css" href="../style/league.css">
	<link rel="stylesheet" type="text/css" href="../style/matchCard.css">
	<link rel="stylesheet" type="text/css" href="../style/loadingAnimation.css">
	<link rel="stylesheet" type="text/css" href="../style/niceDate.css">
	<link rel="stylesheet" type="text/css" href="../style/filter-animation.css">
	<link rel="stylesheet" type="text/css" href="../style/frontPage.css">
</head>
<body>

<nav class="w3-sidenav w3-collapse w3-card-8" style="width:200px; background-color:#f5f4f4; color:#a55b5b" id="mySidenav">
	<a href="javascript:void(0)" onclick="w3_close()" class="w3-closenav w3-hide-large rd-nav-close">
		<img src="../img/close.png" alt="close" width="30px">
	</a> 
	<a href="#/" onclick="w3_close()">
		<img src="../img/home.png" alt="home" width="30px">
		Home
	</a>
	<a href="#/secure/login" onclick="w3_close()" ng-show="true">
		<img src="../img/secure.png" alt="Secure area" width="30px"/>
		Login
	</a>
	<div ng-controller="seasonListController">
		<a ng-repeat="season in seasons.seasons" onclick="w3_close()"
			href="#/season/{{season.seasonStartYear == seasons.currentSeason ? 0 : season.seasonStartYear}}/">
			<img src="../img/seasonIcon.png" alt="Season" width="30px"/>
			{{season.seasonStartYear}}
		</a>
	</div> 
</nav>
<script>
	function w3_open() {
	  document.getElementById("mySidenav").style.display = "block";
	}
	function w3_close() {
	  document.getElementById("mySidenav").style.display = "none";
	}
</script>

<div class="w3-main" style="margin-left:200px">
	<span class="w3-opennav w3-hide-large" onclick="w3_open()">&#9776;</span>
	
	<span class="siteTitle">Catholicon - <i>Better BDBL</i></span>
	
	<div id="thinking" ng-class="contentLoading ? 'slide-in-from-left' : 'slide-out-from-left'" 
			class="thinking w3-round-large w3-leftbar w3-rightbar w3-border-orange" ng-controller="thinkingController">
		<img alt="Loading..."
			height="50px" 
			src="../img/loading.gif">
	</div>
	
	<div id="error" ng-class="errorOccurred ? 'slide-in-from-left' : ''" class="" ng-controller="errorController">
		<img alt="Error"
			height="50px" 
			src="../img/disconnect.gif"/>
		<img src="../img/close.png" alt="dismiss" width="35px" 
			style="transform: translateY(20px) translateX(-14px); background: white"
			ng-click="errorOccurred = undefined"/>
	</div>
	

	<!-- Placeholder for views -->
	<ng-view/>
	
	<script>
		myApp.config(function ($routeProvider) {
			$routeProvider
				.when('/season/:season', 
					{
						templateUrl: 'partials/leagueList.html',
						controller: 'leagueListController'
					})
				.when('/season/:season/matches/:teamId/list',
					{
						templateUrl: 'partials/matches.html'
					})
				.when('/season/:season/league/:leagueTypeId/divisions',
					{
						templateUrl: 'partials/divisionList.html',
						controller: 'leagueDivisionListController'
					})
				.when('/season/:season/league/:league/report',
					{
						templateUrl: 'partials/playerReport.html',
						controller: 'playerReportController'
					})
				.when('/season/:season/league/:leagueTypeId/division/:divisionId', 
					{
						templateUrl: 'partials/division.html',
						controller: 'divisionController'
					})
				.when('/matchcard/:fixtureId',
					{
						templateUrl: 'partials/matchcard/matchCard.html'
					})
				.when('/',
					{
						templateUrl: 'partials/frontPage.html'
					})
				.when('/secure/login', 
					{
						templateUrl: 'partials/secure/login.html'
					})
				.otherwise({ redirectTo: '#'});
		});
		
	</script>
</div>
	
</body>
</html>
