<!DOCTYPE html>
<html ng-app="app">
<head>
	<title>Catholicon - better BDBL</title>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-resource.js"></script>
	<script src="../script/dataController.js"></script>
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
	
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="../style/w3.css">
	<link rel="stylesheet" type="text/css" href="../style/common.css">
	<link rel="stylesheet" type="text/css" href="../style/match.css">
	<link rel="stylesheet" type="text/css" href="../style/league.css">
	<link rel="stylesheet" type="text/css" href="../style/matchCard.css">
	<link rel="stylesheet" type="text/css" href="../style/loadingAnimation.css">
</head>
<body>

	<div id="menuDiv">
		<ul class="w3-navbar w3-border w3-green w3-xxlarge">
			<li><a href="#" class="w3-red">Home</a></li>
			<li ng-controller="leagueListController" class="w3-dropdown-hover" ng-show="leagues">
				<a href="javascript:void(0)">Leagues</a>
				<div class="w3-dropdown-content w3-card-4">
					<a ng-repeat="league in leagues" href="#/league/{{league.leagueTypeId}}/divisions">{{league.label}}</a>
				</div>
			</li>
			<li ng-controller="seasonListController" class="w3-dropdown-hover w3-right w3-blue" ng-show="seasons">
				<a href="javascript:void(0)">Seasons</a>
				<div class="w3-dropdown-content w3-card-4">
					<a ng-repeat="season in seasons.seasons" href="?season={{season.seasonStartYear == seasons.currentSeason ? 0 : season.seasonStartYear}}" 
						ng-click="$scope.seasonId = season.id">{{season.seasonStartYear}}</a>
				</div>
			</li>
		</ul>
	</div>
	
	
	<div id="thinking" ng-class="contentLoading ? 'slide-in' : 'slide-out'" 
			class="thinking w3-round-large w3-leftbar w3-rightbar w3-border-orange" ng-controller="thinkingController">
		<img alt="Loading..."
			height="100px" 
			src="../img/loading.gif">
	</div> 
	

	<!-- Placeholder for views -->
	<ng-view/>
	
	<script>
		myApp.config(function ($routeProvider) {
			$routeProvider
				.when('/matches/:teamId/list',
					{
						templateUrl: 'partials/matches.html',
						controller: 'matchListController'
					})
				.when('/league/:leagueTypeId/divisions',
					{
						templateUrl: 'partials/divisionList.html',
						controller: 'leagueDivisionListController'
					})
				.when('/league/:leagueTypeId/division/:divisionId', 
					{
						templateUrl: 'partials/division.html',
						controller: 'divisionController'
					})
				.when('/matchcard/:fixtureId',
					{
						templateUrl: 'partials/matchCard.html',
						controller: 'matchCardController'
					})
				.otherwise({ redirectTo: '/'});
		});
		
	</script>
	
	
	
</body>
</html>
