<table id="matchcard" class="" ng-show="matchCard">
	<tr>
		<th></th>
		<th class="w3-light-blue" style="color: w3-dark-gray">{{matchCard.awayPlayers[0]}} <br />
			{{matchCard.awayPlayers[1]}}
		</th>
		<th class="w3-light-blue" style="color: w3-dark-gray">{{matchCard.awayPlayers[2]}} <br />
			{{matchCard.awayPlayers[3]}}
		</th>

		<th class="w3-light-blue" style="color: w3-dark-gray">{{matchCard.awayPlayers[4]}} <br />
			{{matchCard.awayPlayers[5]}}
		</th>
	</tr>
	
	
	<tr ng-show="matchCard" ng-repeat="rowNum in [0,1,2]" 
		match-card="matchCard" row-num="rowNum"
		match-card6-row>
	</tr>
</table>