<div id="matchCardUberContainer" ng-controller="matchCardController"  class="w3-container w3-card-4">

	<header class="w3-center">
		<h2>
			{{fixture.homeTeamName}} <br /> Vs <br /> {{fixture.awayTeamName}}
		</h2>
	</header>

	<header class="">
		<h3>{{matchCard.matchDate}}</h3>
	</header>

	<header class="matchcardScore" ng-click="hideNames()">
		<h1>{{matchCard.homeScore}} - {{matchCard.awayScore}}</h1>
	</header>
	
	<div class="w3-modal"
		ng-style="name1 ? {display: 'block'} : {display: 'none'}">
		<div class="w3-modal-content">
			<div class="w3-container">
				<p>
					{{name1}} <br /> {{name2}}
				</p>
				<p class="w3-closebtn" ng-click="hideNames()">&times;</p>
			</div>
		</div>
	</div>
	
	<div ng-if="matchCard">
		<match-card-four ng-if="!matchCard.teamSize6" match-card="matchCard">
		</match-card-four>
		
		<match-card-six ng-if="matchCard.teamSize6" match-card="matchCard">
		</match-card-six>
	</div>
</div>
