<table id="matchcard" class="" ng-show="matchCard" border="1">
	<tr>
		<th style="color: w3-light-gray; border: 1px solid w3-dark-gray;"
			class="w3-light-blue">
			Home<br/>
			{{matchCard.homePlayers[0]}} <br/>
			{{matchCard.homePlayers[1]}} <br/>
			{{matchCard.homePlayers[2]}} <br/>
			{{matchCard.homePlayers[3]}} <br/>
		</th>
		<th style="color: w3-dark-gray; border: 1px solid w3-dark-gray;"
			class="w3-light-blue">
			Away<br/>
			{{matchCard.awayPlayers[0]}} <br/>
			{{matchCard.awayPlayers[1]}} <br/>
			{{matchCard.awayPlayers[2]}} <br/>
			{{matchCard.awayPlayers[3]}} <br/>
		</th>
	</tr>
	<tr>
		<td match-card-4-cell rubber="0" match-card="matchCard"/>
		<td match-card-4-cell rubber="1" match-card="matchCard"/>
	</tr>
	
	<tr>
		<td match-card-4-cell rubber="2" match-card="matchCard"/>
		<td match-card-4-cell rubber="3" match-card="matchCard"/>
	</tr>
	
	<tr>
		<td match-card-4-cell rubber="4" match-card="matchCard"/>
		<td match-card-4-cell rubber="5" match-card="matchCard"/>
	</tr>
</table>