<form name="form" ng-controller="LoginController" class="w3-container css-form" novalidate>
	<div class="w3-card-4">
	
		<header class="w3-container w3-blue">
		  <h1>Login</h1>
		</header>
		
		<div class="w3-padding w3-text-blue">
			<label style="font-size: 60%">Username</label> 
			<input type="text" class="w3-input" ng-model="user.name" name="uname" required="" />
			<br />
			<div ng-show="form.$submitted || form.uName.$touched">
				<div ng-show="form.uname.$error.required">Tell us your name.</div>
			</div>
		
			<label style="font-size: 60%">Password</label> 
			<input type="password" class="w3-input" ng-model="user.password" name="pword" required="" />
			<br />
			<div ng-show="form.$submitted || form.uName.$touched">
				<div ng-show="form.uname.$error.required">Tell us your name.</div>
			</div>
		</div>
		
		<footer class="w3-container w3-blue">
			<h1 class="w3-right">
				<img src="../img/repeat.png" ng-click="reset(form)" alt="Restart" width="30px"/>
				<img src="../img/done.png" ng-click="login()" alt="Restart" width="30px"/>
			</h1>
		</footer>
	
	</div>
</form>