<div class="">
	<table id="leagueTable" class="w3-table-all">
		<tr class="w3-blue">
			<th>Team</th>
			<th colspan="2">Matches</th>
			<th colspan="2" class="rd-mobile-div-hidden-cols">Rubbers</th>
			<th >Pts</th>
		</tr>
		<tr class="w3-blue">
			<th></th>
			<th >Played</th>
			<th >Won</th>
			<th class="rd-mobile-div-hidden-cols">Won</th>
			<th class="rd-mobile-div-hidden-cols">Lost</th>
			<th></th>
		</tr>
		<tr ng-repeat="line in division.lines">
			<td><a class="rd-division-link-to-matches" 
					href="#!/season/{{division.seasonStartYear}}/matches/{{tp.teamId}}/listcompact">{{line.teamName}}</a>
			</td>
			<td class="table-data">{{line.matches_played}}</td>
			<td class="table-data">{{line.matches_won}}</td>
			<td class="table-data rd-mobile-div-hidden-cols">{{line.rubbers_won}}</td>
			<td class="table-data rd-mobile-div-hidden-cols">{{line.rubbers_lost}}</td>
			<td class="table-data">{{line.rubbers_won}}</td>
		</tr>
	</table>
	
	<span>
		<a href="#!/season/{{division.seasonStartYear}}/league/{{division.leagueTypeId}}/report">
			<img class="w3-right" src="../img/report.gif" width="30px" style="padding-top: 5px"/>
		</a>
	</span>
	
</div>