<h1>Divisions</h1>

<div ng-repeat="division in divisions" class="w3-card-12" 
		style="float:left; margin:20px">
		
	<header class="w3-container w3-teal w3-xxlarge">
		{{division.label}}
	</header>	
	
	
	<img src="../img/trophy.jpg" style="width:100%" class="w3-padding-medium"/>
	
	<div class="w3-container w3-center">
		<a class="w3-btn-floating w3-teal w3-xxlarge" 
				href="#/season/{{division.season}}/league/{{division.leagueTypeId}}/division/{{division.divisionId}}">
			<i class="material-icons">arrow_forward</i>
		</a>
	</div>
</div>