<div class="padToBelowHeader">
	<div ng-repeat="division in divisions" class="w3-card-12" 
			style="float:left; margin:20px">
		
		<a class="w3-xxlarge"  style="text-decoration: none;"
			href="#/season/{{division.season}}/league/{{division.leagueTypeId}}/division/{{division.divisionId}}">
			
		<header class="w3-container w3-teal w3-xxlarge">
			{{division.label}}
		</header>	
		
			
		<img src="../img/trophy.jpg" style="width:100%" class="w3-padding-medium"/>
			
		<footer class="w3-container w3-center w3-teal rd-division-card-footer">
			<img src="../img/forward.png" alt="forward" width="35px"/>
		</footer>
		</a>
	</div>
</div>