<div class="padToBelowHeader">
	<table id="leagueTable">
		<tr class="w3-blue">
			<th>Team</th>
			<th colspan="2">Matches</th>
			<th colspan="2" class="rd-mobile-div-hidden-cols">Rubbers</th>
			<th colspan="2" class="rd-mobile-div-hidden-cols">
				Games
			</th>
			<th >Pts</th>
		</tr>
		<tr class="w3-blue">
			<th></th>
			<th >Played</th>
			<th >Won</th>
			<th class="rd-mobile-div-hidden-cols">Won</th>
			<th class="rd-mobile-div-hidden-cols">Lost</th>
			<th class="rd-mobile-div-hidden-cols">Won</th>
			<th class="rd-mobile-div-hidden-cols">Lost</th>
			<th></th>
		</tr>
		<tr ng-repeat="tp in division.positions">
			<td><a class="rd-division-link-to-matches" 
					href="#/season/{{division.season}}/matches/{{tp.teamId}}/list#nextMatchAnchor">{{tp.team}}</a>
			</td>
			<td class="table-data">{{tp.played}}</td>
			<td class="table-data">{{tp.matchesWon}}</td>
			<td class="table-data rd-mobile-div-hidden-cols">{{tp.rubbersWon}}</td>
			<td class="table-data rd-mobile-div-hidden-cols">{{tp.rubbersLost}}</td>
			<td class="table-data rd-mobile-div-hidden-cols">{{tp.gamesWon}}</td>
			<td class="table-data rd-mobile-div-hidden-cols">{{tp.gamesLost}}</td>
			<td class="table-data">{{tp.pointsFor}}</td>
		</tr>
	</table>
	
	<span>
		<a href="#/season/{{division.season}}/league/{{division.leagueTypeId}}/report">
			<img class="w3-right" src="../img/report.gif" width="30px" style="padding-top: 5px"/>
		</a>
	</span>
	
</div>