

<div class="w3-container">

	<div class="w3-container w3-teal">
		<h2>
			Filters
		</h2>
	</div>
	<form class="w3-container w3-margin-bottom">
		<input class="w3-input" ng-model="search" name="matchFilter"/>
		<label class="w3-large w3-label w3-validate">Search</label>
	</form>
	
	
	<div ng-repeat="match in matches | filter: search | orderBy:'date'" 
			class="w3-card-24" style="margin-bottom:30px;">
		
		<header class="w3-container w3-blue">
			<h1>Match</h1>
		</header>
		
		<div class="w3-center">
			<h1 class="rd-match-declaration">
				{{match.homeTarget}}  
				<br/>
				Vs 
				<br/>
				{{match.awayTarget}}
			</h1>
		</div>
		
		<footer class="w3-container w3-blue">
			<h5>{{match.date | date : 'fullDate'}}</h5>
			<h5>
				{{match.scoreExtracted}}
				<div ng-switch on="match.fixtureStatus">
					<div ng-switch-when="5">
						<a href="#/matchcard/{{match.fixtureId}}" 
							class="w3-btn w3-blue w3-border w3-border-blue w3-round w3-xlarge">
							View card
						</a>
					</div>
					<div ng-switch-default>
						<p>Not yet played</p>
					</div>
				</div>
			</h5>
			
		</footer>
	</div>
</div>