<tr>
	<th class="w3-blue" style="width: 55px">
		<div class="rd-home-players"
			ng-click="showNames(matchCard.homePlayers[rowNum], matchCard.homePlayers[rowNum+1])"
			style="transform: rotate(-90deg); position: absolute; height: 50px; line-height: 1em; margin: 0 auto">
			{{matchCard.homePlayers[(rowNum*2)] | limitTo: 10}} <br />
			{{matchCard.homePlayers[(rowNum*2)+1] | limitTo: 10}}
		</div>
	</th>
	<td ng-repeat="colNum in [0,1,2]" class="table-data"
		ng-class="{'w3-blue':matchCard.homeTeamWins[(rowNum*3)+colNum], 'w3-green':!matchCard.homeTeamWins[(rowNum*3)+colNum]}">
		<p ng-click="test()">TEST</p>
		<p>{{rubber(colNum).firstGame.homeScore}} 
			- 
			{{rubber(colNum).firstGame.awayScore}}</p>
		
		<p>{{rubber(colNum).secondGame.homeScore}} 
			- 
			{{rubber(colNum).secondGame.awayScore}}</p>
		
		<p ng-show="rubber(colNum).finalGame.homeScore > 0 && rubber(colNum).finalGame.awayScore > 0">
			{{rubber(colNum).finalGame.homeScore}} 
			- 
			{{rubber(colNum).finalGame.awayScore}}
		</p>
	</td>
</tr>