

<div class="w3-container" ng-controller="matchListController">

	<h3>
		{{teamName}}
	</h3>
	<h4>
		{{season == 0 ? 'this' : season}} season
	</h4>

	<div class="w3-container w3-teal">
		<h2>
			Filters
		</h2>
	</div>
	<form class="w3-container w3-margin-bottom">
		<input class="w3-input" ng-model="search" name="matchFilter"/>
		<label class="w3-large w3-label w3-validate">Search</label>
	</form>
	
	
	<fixture-details-directive>
	</fixture-details-directive>
	
	
	<div ng-repeat="match in matches | filter: search | orderBy:'date'" 
			class="w3-card-24" style="margin-bottom:30px;">
		
		<header class="w3-container w3-blue">
			<h1 class="rd-match-declaration">
				<img src="../img/{{match.homeTeamId == teamId ? 'home_white' : 'car'}}.png" width="40px"/> Match 
			</h1>
		</header>
		
		<div class="w3-center">
			<h1 class="rd-match-declaration">
				{{match.homeTeamId == teamId ? match.awayTeamName : match.homeTeamName}}  
			</h1>
			<h5>
				{{match.scoreExtracted}}
			</h5>
		</div>
		
		<footer class="w3-container w3-blue">
			<h2 class="frontPageInfoIcon">
				<img src="../img/info_white.png" ng-click="showFixture(match.fixtureId)" width="35px"/>
			</h2>
			<h5>{{match.date | date : 'fullDate'}}</h5>
			<h5>
				<div ng-switch on="match.fixtureStatus">
					<div ng-switch-when="5">
						<a href="#/matchcard/{{match.fixtureId}}" 
							class="w3-btn w3-blue w3-border w3-border-blue w3-round w3-xlarge">
							View card
						</a>
					</div>
					<div ng-switch-default>
						<p>Not yet played</p>
					</div>
				</div>
			</h5>
		</footer>
	</div>
</div>