<a href="#!/matchcard/{{match.externalFixtureId}}" ga-on="click"
	ga-event-category="recent_match" ga-event-action="show_match_card">
	<div class="w3-col s5 w3-small recentMatchTeam">
		<div style="font-size: 300%; font-weight: 900; color: coral; text-align: center;">
			{{match.matchCard.homeScore}}</div>
		<div class="w3-center">{{match.homeTeamName}}</div>
	</div>
	<div class="w3-col s2 w3-medium w3-center w3-padding">
		{{match.matchDate | date: 'dd MMM'}}</div>
	<div class="w3-col s5 w3-small recentMatchTeam">
		<div style="font-size: 300%; font-weight: 900; color: coral; text-align: center;">
			{{match.matchCard.awayScore}}</div>
		<div class="w3-center">{{match.awayTeamName}}</div>
	</div>
</a>