<h1 class="w3-panel w3-xxlarge">Unconfirmed results</h1>

<p class="w3-panel"><sup>* = to action</sup></p>

<table class="w3-panel w3-table-all">
	<tr ng-repeat="result in unconfirmed | orderBy:'matchDate'" ng-init="mergeFixtureDetails(result)">
		<td>
			{{result.matchCard.matchDate | date:'dd MMM'}}
		</td>
		<td>
			{{result.matchCard.homeTeamName}} 
			<span ng-show="homeTeamToAction(result)">*</span>
		</td>
		<td>
			{{result.matchCard.awayTeamName}}
			<span ng-hide="homeTeamToAction(result)">*</span>
		</td>
		</td>
		<td>
			<a ng-href="#!/matchcard/{{result.externalFixtureId}}" style="width: 100%" 
						ng-class="isWin(match) ? 'w3-text-green w3-right' : 'w3-text-red w3-right'">
				{{result.matchCard.homeScore}} - {{result.matchCard.awayScore}}
			</a>
		</td>
	</tr>
</table>